.notification {
	font-family: "Roboto";
	background-color: $darker-background;
	border-radius: 10px;
	margin-bottom: 1.5em;

	box-shadow: 4px 3px 8px 1px rgba(0, 0, 0, 0.55);

	.notification-title {
		// background-color: $background-secondary;
		background-color: inherit;
		padding: .95em 0em .75em;
		font-size: 14px;

		border-radius: 10px 10px 0px 0px;

		.notification-title-text {
			margin: 0em 0em 0em 1em;
			font-weight: bold;
		}

		.notification-close {
			margin: 0em 1em 0em 0em;
			color: $red;
		}
	}

	.notification-body {
		padding: .5em 0em 1em;
		font-size: 14px;
		border-radius: 0px 0px 10px 10px;

		.notification-image {
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center;
			border-radius: 8px;
			min-height: 64px;
			min-width: 64px;
			margin-left: 1.5em;
		}

		.notification-content {
			margin: 1em;

			.notification-summary {
				font-size: 16px;
				font-weight: bold;
				margin: .25em 0em .5em 0em;				
			}

			.notification-message {
				// margin-left: -1em;
				font-size: 12px;
				color: $foreground-secondary;
			}
		}
	}

	.notification-screenshot-opt, .notification-opt {
		margin: 1em 1em 0em;
		border-radius: inherit;

		button {
			background-color: $background-tertiary;
			border-radius: 6px;
			padding: .5em;
			margin: 0em .5em;
		}
	}
}

.layout-btn {
	font-size: 24px;
	margin: 0em .7em 0em 0em;
}
