* {
	all: unset;
}

window {
	color: $foreground-primary;
	font-family: "Sarasa Mono CL Nerd Font";
}

tooltip {
	background-color: $background-tertiary;
	border-radius: 4px;
	font-family: "DM Sans";
	font-size: 14px;
}
