$darker-background: #0b0f10;
$background-primary: #101415;
$background-secondary: #151a1c;
$background-tertiary: #192022;
$lighter-background: #1C2325;

$foreground-primary: #C5C8C9;
$foreground-secondary: #9fa0a0;
$foreground-tertiary: #6e7071;

$red: #ee6a70;
$blue: #7ba5dd;
$blue-desaturated: #6791c9;
$magenta: #cb92f2;
$green: #96d6b0;
$yellow: #ffb29b;
$accent: $blue;

$javacafeMagenta: #d7c1ed;
$javacafeBlue: #bac8ef;
$javacafeCyan: #c7e5d6;
