$bg: #0E1112;
$bgSecondary: #101415;
$bgSecondaryAlt: #131718;
$fg: #C5C8C9;
$fgDim: #9fa0a0;
$watermelon: #ff4757;

$red: #f65b5b;
$blue: #84a0c6;
$blue-desaturated: rgb(117, 140, 176);
$magenta: #bb8fe5;
$green: #8dc776;
$yellow: #e7ac7e;
$accent: $blue;
