$bg: #101415;
$bgSecondary: #131718;
$bgSecondaryAlt: #151a1c;
$fg: #C5C8C9;
$fgDim: #9fa0a0;
$watermelon: #ff4757;

// Aliases
$background: $bg;
$backgroundSecondary: $bgSecondary;
$backgroundSecondaryAlt: $bgSecondaryAlt;
$foreground: $fg;
$foregroundDim: $fgDim;

$red: #ee6a70;
$blue: #7ba5dd;
$blue-desaturated: #6791c9;
$magenta: #cb92f2;
$green: #96d6b0;
$yellow: #ffb29b;
$accent: $blue;
$javacafeMagenta: #d7c1ed;
$javacafeBlue: #bac8ef;
$javacafeCyan: #c7e5d6;
