.outer-window {
    background-color: $bg;
    border-top-right-radius: 10px;
}

.line {
    background-color: $bgSecondaryAlt;
    border-radius: 50px;
}

.profile, .layout-manager, .system-manager, .music-player {
    border-radius: 10px;
}