.info-center-window {
	margin-bottom: -2px;

	.info-center-spacer {
		transition: all 0.8s cubic-bezier(0.455, 0.03, 0.515, 1);
	}

	.info-center {
		background-color: $darker-background;
		border-radius: 10px;
		font-family: "DM Sans";
	}
}
