.dashboard-window {
	.dashboard-spacer {
		transition: all 1800ms cubic-bezier(.1, -0.00, .0, 1.49);
	}
	
	.dashboard-box {
		background-color: $darker-background;
		border-radius: 10px;
		padding: 2em;
	}
}
