[submodule "cfg/nvim"]
	path = cfg/nvim
	url = https://github.com/TheRealKizu/neodots/
[submodule "etc/discord-css"]
	path = etc/discord-css
	url = https://github.com/TheRealKizu/discord-css/
[submodule "etc/gtk3"]
	path = etc/gtk3
	url = https://github.com/janleigh/gtk3
[submodule "etc/walls"]
	path = etc/walls
	url = https://github.com/janleigh/walls
