.quote {
    // background-color: $bg;
    border-radius: 6px;

    padding: 6px;
    padding-top: 12px;

    .text {
        font-family: "VictorMono Nerd Font";
        font-style: italic;
        font-size: 12px;
    }
}