.system-manager {
    background-color: $bg;
    padding: 1rem;
    padding-bottom: 0rem;

    .title {
        .title {
            color: $fgDim;
        }
    }

    scale trough {
        background-color: #0E1112;
        border-radius: 50px;
    
        min-height: 10rem;
        min-width: 5px;
    }

    scale trough highlight {
        border-radius: 50px;
    }

    .ram-bar, .disk-bar, .vol-bar, .bri-bar {
        margin: 12px;
    }

    .ram-bar {
        scale trough highlight {
            background-image: linear-gradient(to bottom, $red, #df5b61);
        }
    }

    .disk-bar {
        scale trough highlight {
            background-image: linear-gradient(to bottom, $magenta, #bc83e3);
        }
    }

    .vol-bar {
        scale trough highlight {
            background-image: linear-gradient(to bottom, $green, #87c7a1);
        }
    }

    .bri-bar {
        scale trough highlight {
            background-image: linear-gradient(to bottom, $yellow, #de8f78);
        }
    }
}