.info-center {
	.first-row {
		margin: 1.5em;

		label {
			&:nth-child(1) {
				margin: .5em .75em 0em;
			}

			&:nth-child(2), &:nth-child(3) {
				margin: 0em .65em .5em;
			}
		}

		.first-column {
			min-width: 15em;

			box {
				background-color: $background-secondary;
				border-radius: 10px;
				min-width: 3em;
				
				&:nth-child(1) {
					margin-bottom: 1em;
				}
			}

			.uptime-box, .network-box {
				label {
					&:nth-child(1) {
						font-size: 14px;
						color: $foreground-secondary;
					}
	
					&:nth-child(2) {
						font-size: 16px;
						font-weight: bold;
					}
				}
			}
		}

		.second-column {
			box {
				background-color: $background-secondary;
				border-radius: 10px;
			}

			.weather-box {
				color: $darker-background;
				min-height: calc(10em + 2px);
				min-width: 10em;

				.weather-desc {
					font-size: 14px;
				}

				.weather-temp {
					font-size: 16px;
					font-weight: bold;
				}

				.weather-icon {
					margin-bottom: -2.25em;
					font-size: 36px;
					font-family: "Material Icons";
				}
			}
		}
	}
}
