.info-center {
	.second-row {
		margin: 1em;
		.cal-box {
			background-color: $background-secondary;
			border-radius: 10px;
	
			padding: .5em;
			margin: 1em 0.75em .25em;
	
			.month-year {
				font-size: 18px;
				font-weight: bold;
				margin: 0.5em 0em 0em;
			}
	
			.day-names {
				margin: 1em 1em 0em;
				font-size: 14px;
				font-weight: bold;
				color: $green;
			}
		
			.cal {
				padding: 1em .75em 0em;
			}
		}
	}
}

calendar {
	font-family: "DM Sans";
	font-weight: bold;

	&:selected {
		color: $accent;
	}
	&:indeterminate {
		color: rgba(205, 219, 249, 0.3);
	}
}
