.info-center {
	.third-row {
		margin: 0em 1.75em 1.5em;

		.weather {
			padding: 1.5em 1em;

			background-color: $background-secondary;
			border-radius: 10px;

			.weather-details {
				margin: 0em 1em;

				.weather-icon {
					font-size: 36px;
					font-family: "Sarasa Mono CL Nerd Font";
				}
	
				.weather-data {
					.weather-desc {
						font-size: 20px;
						font-weight: bold;
					}
				}
			}

			.weather-temp-and-feel {
				margin: 0em 1em;

				.weather-data {
					// margin-left: 1.5em;
	
					.weather-temp {
						font-size: 20px;
						font-weight: bold;
					}
				}
			}
		}	
	}
}
