.lock-screen {
	background-color: $darker-background;
	border-radius: 10px;
}

.lock-screen {
	.lock-inner {
		margin-top: 1em;
		
		.lock-pfp {
			background-image: url("./assets/avatar.png");
			background-size: 100%;
			border-radius: 100%;
	
			margin: 2.4rem 6.5rem 0rem;
		}
	
		.lock-text {
			margin: 2.5rem 1rem;
			padding: 1rem;
	
			.lock-username {
				color: $foreground-primary;
				font-size: 20px;
			}
	
			.lock-hostname {
				color: $foreground-tertiary;
				font-size: 16px;
				font-style: italic;
				font-family: "VictorMono Nerd Font";
			}
		}
	}
}
