.lock-screen {
    background-color: $bg;
    border-radius: 12px;
    // border: $bgSecondaryAlt solid 3px;

    .lock-pfp {
        background-image: url("./assets/avatar.png");
        background-size: 100%;
        border-radius: 100%;

        margin: 3.3rem 6.8rem 0rem;
    }

    .lock-text {
        margin: 2.5rem 1rem;
        padding: 1rem;

        .lock-username {
            color: $fg;
            font-size: 20px;
        }

        .lock-hostname {
            color: $fgDim;
            font-size: 16px;
            font-style: italic;
            font-family: "VictorMono Nerd Font";
            // margin-bottom: -6rem;
        }
    }
}