.powermenu {
    background-color: $bgSecondary;
    border: 16px $bgSecondary solid;

    .powermenu-inner-box {
        padding: .25rem;
        border: 4px $bgSecondaryAlt solid;

        button {
            color: $fgDim;
        
            font-family: "Material Icons";
            font-size: 30px;
    
            margin: 6px;
            padding: 12px;

            &:nth-child(1) {
                color: $red;
            }
    
            &:nth-child(2) {
                color: $yellow;
            }
    
            &:nth-child(3) {
                color: $green;
            }
    
            &:nth-child(4) {
                color: $magenta;
            }
    
            &:nth-child(5) {
                color: $blue-desaturated;
            }
    
            &:hover {
                color: $blue;
                background-color: $bgSecondaryAlt;
            }
        }
    }
}