.powermenu {
    background-color: $bgSecondary;
    border-radius: 10px;
    border-top-left-radius: 0px;

    button {
        background-color: $bgSecondaryAlt;
        border-radius: 10px;
    
        font-family: "Material Icons";
        font-size: 32px;

        margin: 10px;
        padding: 8px;
        padding-top: 10px;

        &:nth-child(1) {
            color: $red;
        }

        &:nth-child(2) {
            color: $yellow;
        }

        &:nth-child(3) {
            color: $magenta;
        }

        &:nth-child(4) {
            color: $green;
        }

        &:nth-child(5), &:hover {
            color: $blue;
        }

        &:hover {
            background-color: $bgSecondaryAlt;
        }
    }
}