.powermenu {
    padding: 10px 8px;
    background-color: $bgSecondary;
    border-radius: 10px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;

    button {
        background-color: $bgSecondaryAlt;
        border-radius: 10px;
    
        font-family: "Material Icons";
        font-size: 36px;

        margin: 8px 6px;
        padding: 12px;

        &:nth-child(1) {
            padding-top: 10px;
            color: $red;
        }

        &:nth-child(2) {
            padding-top: 10px;
            color: $yellow;
        }

        &:nth-child(3) {
            color: $green;
        }

        &:nth-child(4) {
            padding-top: 14px;
            color: $magenta;
        }

        &:nth-child(5) {
            color: $blue-desaturated;
        }

        &:hover {
            color: $blue;
            background-color: $bgSecondaryAlt;
        }
    }
}