.profile {
    /* background-color: $bgSecondaryAlt; */

    .pfp {
        background-image: url("./assets/avatar.png");
        background-size: 100%;
        border-radius: 100%;

        margin: 12px 107px;
    }
}