.system-manager {
    background-color: $bgSecondary;
    padding: 1rem;
    padding-bottom: 0rem;

    .a {
        .title {
            color: $fgDim;
        }
    }

    scale trough {
        background-color: #0E1112;
        border-radius: 50px;
    
        min-height: 10rem;
        min-width: 5px;
    }

    scale trough highlight {
        border-radius: 50px;
    }

    .ram-bar, .disk-bar, .vol-bar, .bri-bar {
        margin: 12px;
    }

    .ram-bar {
        scale trough highlight {
            background-color: $red;
        }
    }

    .disk-bar {
        scale trough highlight {
            background-color: $yellow;
        }
    }

    .vol-bar {
        scale trough highlight {
            background-color: $blue;
        }
    }

    .bri-bar {
        scale trough highlight {
            background-color: $magenta;
        }
    }
}