window {
	button:hover {
		color: $accent;
	}

	.eww-bar {
		background-color: $darker-background;
		// border-radius: 10px 10px 0px 0px;
		font-family: "DM Sans";
		font-weight: normal;
	}
	
	.separator {
		color: $lighter-background;
		font-size: 2em;
	}
}
