window {
	button:hover {
		color: $accent;
	}

	.eww-bar {
		background-color: $darker-background;
		font-family: "Roboto";
		font-weight: normal;
	}
	
	.separator {
		color: #1c2325;
		font-size: 2em;
	}
}
