* {
    all: unset;
}

window {
    color: $fg;
    font-family: "Sarasa Mono CL Nerd Font";

    button:hover {
        color: $accent;
    }

    .eww-bar {
        background-color: #0b0f10;
    }
    
    .separator {
        // color: #3e4141;
        color: $bgSecondaryAlt;
    }

    .control-panel {
        background-color: $bg;
        margin: .35em;
        border-radius: 6px;
    }
}