.action-center {
	font-family: "Material Icons";
	font-size: 1.5em;

	border-radius: 6px;
	background-color: #1c2325;

	margin: .5em 1em .5em 0em;
	padding: 0em .25em;

	button {
		padding: .0em .45em;
		
	}
}
