.battery {
	scale trough {
		background-color: #50906a;
		border-radius: 10px;
		min-height: 2.4em;
		min-width: 6em;
	}

	trough highlight {
		background-image: linear-gradient(to right, $green);
		border-radius: 10px;
		// border-radius: 10px 0px 0px 10px;
	}

	.battery-label {
		color: $background-primary;
		font-size: 18px;
		font-weight: bold;
		margin: .1em 0em 0em;
	}
}
