.brightness {
    .brightness-icon {
        margin: .2rem 0;
        color: $yellow;
    }
    
    scale trough {
        background-color: $background;
        border-radius: 10px;
        min-height: 80px;
        min-width: 10px;
        margin: 0.5rem 0;
    }
    
    .bribar trough highlight {
        background-image: linear-gradient(to bottom, $yellow, #de8f78);
        border-radius: 10px;
    }
}