.cal-window {
	font-family: "Roboto";

	.cal-box {
		background-color: $darker-background;
		border-radius: 10px;
		padding: 1em 0.75em .25em;
	
		.cal {
			&.highlight {
				padding: 10em 8em;
			}
	
			padding: .8em .5em 0em;
			// margin-left: 10px;
		}
	}
}

calendar:selected {
	color: $yellow;
}

calendar.header {
	color: $javacafeMagenta;
	font-weight: bold;
}

calendar.button {
	color: #192022;
}

calendar.highlight {
	color: $javacafeBlue;
}

calendar:indeterminate {
	color: rgba(205, 219, 249, 0.3);
}
