.cal-window {
	font-family: "Roboto";

	.cal-box {
		background-color: $darker-background;
		border-radius: 10px;
		padding: 1em 0.75em .25em;
	
		.cal {
			padding: .8em .3em 0em;
		}
	}
}

calendar:selected {
	color: $accent;
}

calendar.header {
	color: $javacafeBlue;
	font-weight: bold;
}

calendar.button {
	color: #192022;
}

calendar.highlight {
	color: $green;
}

calendar:indeterminate {
	color: rgba(205, 219, 249, 0.3);
}
