.launcher {
	margin: .5em .5em .5em 1.5em;

	button {
		// background-color: #1c2325;
		border-radius: 6px;
		font-size: 1.6em;
		font-family: "Material Icons";
		// margin: .15em;
		// padding: 0 .75em;
	}
}
