.launcher {
	margin: .5em .5em .5em 1.25em;
	border-radius: 6px;

	button {
		border-radius: inherit;
		margin: .15em;
		padding: 0em .75em;

		font-size: 1.5em;
		font-family: "Sarasa Mono CL Nerd Font";

		background-color: #1c2325;
	}
}
