.powermenu {
    font-family: "Material Icons";
    font-size: 1.5em;

    button {
        margin: .35em .35em .75em .35em;

        &:hover {
            color: $accent;
        }
    }

    .reboot-btn {
        color: $magenta;
    }
    .logout-btn {
        color: $blue-desaturated;
    }
    .shutdown-btn {
        color: $red;
    }
    .notif-btn {
        color: $fg;
        font-weight: normal;
    }
}