.time {
    font-weight: bold;
    font-size: 1.3em;
    background-color: #0b0f10;
    color: $foreground;
    border-radius: 6px;
    margin: .1em .3em .3em .2em;
    padding: .5em .4em .4em .4em;
}