.volume {
    .volume-icon {
        margin: .2rem 0;
        color: $green;
    }
    
    scale trough {
        background-color: $background;
        border-radius: 10px;
        min-height: 80px;
        min-width: 10px;
        margin: 0.5rem 0;
    }
    
    .volbar trough highlight {
        background-image: linear-gradient(to bottom, $green, #87c7a1);
        border-radius: 10px;
    }
}