.ws {
	font-size: 1.1em;
	font-weight: normal;
	margin: 0em 1em;

	.0, .01, .02, .03, .04, .05, .06,
	.011, .022, .033, .044, .055, .066 {
		margin: .75rem 0px 0px;
	}

	/* Unoccupied */
	.0 {
		color: #32393b;
	}

	/* Occupied */
	.01, .02, .03, .04, .05, .06 {
		color: #bfc9db;
	}

	/* Focused */
	.011, .022, .033, .044, .055, .066 {
		color: #b7b8b8;
	}
}
