.ws {
    font-size: 1.1em;
    font-weight: normal;
    margin: 0em 1em 12px;

    .0 , .01, .02, .03, .04, .05, .06,
    .011, .022, .033, .044, .055, .066 {
        margin: .75em 0px 0px 0px;
    }
    
    .0, .01, .02, .03, .04, .05, .06 {
        color: #32393b;
    }
    
    .011, .022, .033, .044, .055, .066 {
        color: #b7b8b8;
    }
}