! special
*.foreground:   #c5c8c9
*.background:   #101415
*.cursorColor:  #c5c8c9

! black
*.color0:       #101415
*.color8:       #131718

! red
*.color1:       #c26f6f
*.color9:       #f65b5b

! green
*.color2:       #6bb05d
*.color10:      #8dc776

! yellow
*.color3:       #e59e67
*.color11:      #e7ac7e

! blue
*.color4:       #667b99
*.color12:      #84a0c6

! magenta
*.color5:       #b185db
*.color13:      #bb8fe5

! cyan
*.color6:       #779fa8
*.color14:      #89b8c2

! white
*.color7:       #c4c4c4
*.color15:      #cccccc
