! special
*.foreground:   #cfd1dd
*.background:   #13141d
*.cursorColor:  #cfd1dd

! black
*.color0:       #161825
*.color8:       #575b73

! red
*.color1:       #b15e5e
*.color9:       #e27878

! green
*.color2:       #80966e
*.color10:      #a3be8c

! yellow
*.color3:       #c7ac76
*.color11:      #ebcb8b

! blue
*.color4:       #667b99
*.color12:      #84a0c6

! magenta
*.color5:       #8a7eab
*.color13:      #a093c7

! cyan
*.color6:       #779fa8
*.color14:      #89b8c2

! white
*.color7:       #b7b9c2
*.color15:      #cfd1dd