* {
    background:                 #101415;
    background-alt:             #151a1c;
    foreground:                 #c5c8c9;
    accent:                     #8dc776;

    text-color:                 @fg;
}
