* {
    background:                 #1D2021;
    background-alt:             #282828;
    foreground:                 #FBF1C7;
    accent:                     #7DAEA3;

    text-color:                 @fg;
}
