.dashboard-box {
	.fourth-row {
		background-color: $background-primary;
		border-radius: 5px;
		margin-top: 1em;

		.system-btn-text {
			color: $foreground-secondary;
			margin: 1em 0em 0em .9em;
		}

		.system-btn {
			padding: 1em 1.5em;

			button {
				font-size: 28px;
				margin: .2em .3em;
				padding: .4em;
				background-color: $background-secondary;
				border-radius: 30%;
				font-family: "Material Icons";
	
				&:hover {
					color: $accent;
					background-color: $background-tertiary;
				}
			}
		}
	}
}
