.dashboard-box {
	.third-row {
		margin: 1em 0em 0em;

		.system-info-scale {
			margin-left: 0px;
			margin-right: .5em;
			
			.ram {
				background-color: $background-primary;
				border-radius: 5px;
				padding: 0 1em 1em;

				.ram-progress {
					margin-bottom: 3.8rem;
					background-color: $background-secondary;
					color: $javacafeBlue;

					.ram-icon {
						margin: .8em;
						font-size: 40px;
						font-family: "Material Icons";
						color: $javacafeBlue;
					}
				}
				.ram-usage {
					color: $foreground-secondary;
					margin-top: 1em;
					margin-left: -7.5rem;

				}
			}
		}

		.system-info {
			margin-left: 8px;
			
			scale trough {
				background-color: $background-primary;
				border-radius: 10px;
				min-height: 10em;
				min-width: 1.7em;
				margin: 0rem 1rem;
			}

			.volume-icon, .mic-icon {
				margin: 0rem 1rem 0.5em;
				padding: .35em;
				border-radius: 2em;
				color: $foreground-tertiary;
				font-size: 24px;
			}

			.volume {
				margin: 0.5em 0em;

				.volbar trough highlight {
					background-image: linear-gradient(to top, #df5b61, $red);
					border-radius: 10px;
				}
			}
			.brightness {
				margin: 0.5em 0em 0.5em -1em;

				.brightness-icon {
					margin: 0rem 1rem 0.5em;
					padding: .35em;
					border-radius: 2em;
					color: $foreground-tertiary;
					font-size: 24px;
				}
				
				.bribar trough highlight {
					background-image: linear-gradient(to top, #de8f78, $yellow);
					border-radius: 10px;
				}
			}
			.mic {
				margin: 0.5em 0em 0.5em -1em;

				.micbar trough highlight {
					background-image: linear-gradient(to top, $blue-desaturated, $blue);
					border-radius: 10px;
				}
			}
		}
	}
}
