* {
    background:                 #0B0F10;
    background-alt:             #101415;
    border:                     #131718;
    foreground:                 #c5c8c9;
    accent:                     #7ba5dd;

    text-color:                 @fg;
    javacafe-blue:              #bac8ef;
}
