* {
    background:                 #101415;
    background-alt:             #151a1c;
    border:                     #131718;
    foreground:                 #c5c8c9;
    accent:                     #84a0c6;

    text-color:                 @fg;
}
