.control-center {
	.third-row {
		margin-top: 1.5em;
		border-bottom: 3px solid $background-tertiary;
		
		.user-info {
			margin: .25em 0em 1.5em 2.5em;

			.user-info-avatar {
				background-image: url("./assets/avatar.png");
				background-size: cover;
				min-height: 48px;
				min-width: 48px;
				border-radius: 100%;
			}

			.user-info-label {
				margin: 0em 0em 0em .8em;
				font-size: 16px;
				font-weight: bold;
			}

			.user-info-hostname {
				margin: 0em 0em 0em .8em;
				font-size: 13px;
				color: #6e7071;
			}
		}

		.system-btn {
			margin: 0em 1.5em 1.25em 0em;

			button {
				background-color: $background-tertiary;
				padding: 0em .5em;
				margin: .5em .25em;
				border-radius: 10px;

				font-family: "Material Icons";
			}

			.exit-btn, .lock-btn {
				font-size: 20px;
			}

			.lock-btn {
				font-weight: bold;
			}
		}
	}
}
