.control-center-window {
	.control-center-spacer {
		transition: all 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955);
		// transition: all 0.8s cubic-bezier(.1, -0.00, .0, 1.20);
	}

	.control-center {
		background-color: $darker-background;
		border-radius: 10px;
		font-family: "DM Sans";
	}

	.mp-revealer {
		.music-player {
			background-color: $darker-background;
			padding: 1em;
			min-height: 158px;
			border-radius: 10px;
			font-family: "DM Sans", "Sarasa Mono CL Nerd Font";

			.song-art {
				background-color: $darker-background;
				background-size: cover;
				background-repeat: no-repeat;
				background-position: center;
				border-radius: 6px;

				margin-right: 5px;
				margin-left: 1px;
				min-width: 23em;

				.music-info {
					border-radius: 4px 6px 6px 4px;
					background: linear-gradient(to right, rgba(16, 20, 21, 1), rgba(16, 20, 21, 0.5));

					padding-top: 10px;
					padding-left: 1em;

					.now-playing {
						margin-bottom: 6px;
					}
					.song-title {
						font-size: 16px;
						font-weight: bolder;
					}
					.song-artist, .song-position {
						color: $foreground-secondary;
					}
					.song-position {
						margin-top: 5.4em;
					}
				}
			}
			
			.song-controls {
				background-color: $background-secondary;
				padding: 0em 1em;
				margin-left: 10px;
				border-radius: 5px;

				button {
					font-family: "Material Icons";
					font-size: 24px;
		
					&:hover {
						color: $accent;
					}

					&:nth-child(2) {
						font-size: 26px;
					}
				}
			}
		}
	}
}
