.notification-scroller {
	min-height: 140px;

	.notification-history {
		margin: 1em 0em;
	}
}

.notification {
	font-family: "Roboto";
	background-color: $darker-background;
	border-radius: 10px;
	box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.55);

	margin-bottom: 1em;

	.notification-title {
		background-color: $background-secondary;
		padding: .95em 0em .75em;
		font-size: 14px;

		border-radius: 10px 10px 0px 0px;

		.notification-title-text {
			margin: 0em 0em 0em 1em;
			font-weight: bold;
		}

		.notification-close {
			margin: 0em 1em 0em 0em;
			color: $red;
		}
	}

	.notification-body {
		padding: .75em 0em;
		font-size: 14px;

		.notification-image {
			background-size: cover;
			background-repeat: no-repeat;
			border-radius: 8px;
			min-height: 64px;
			min-width: 64px;
			margin-left: 1em;

			// border: 2px solid $accent;
		}

		.notification-body-text {
			margin: 0em 1.5em;
		}
	}
}
