.exit-screen {
	button {
		background-color: $darker-background;
		color: $background-primary;
		border: 6px solid $background-primary;
		border-radius: 10px;
		font-family: "Material Icons";
		font-size: 64px;

		margin: 0em .5em;
		padding: .25em;
	}

	.shutdown-btn {
		&:hover {
			color: $red;
			border-color: $red;
		}
	}
	.reboot-btn {
		&:hover {
			color: $green;
			border-color: $green;
		}
	}
	.sleep-btn {
		&:hover {
			color: $yellow;
			border-color: $yellow;
		}
	}
	.hibernate-btn {
		&:hover {
			color: $blue;
			border-color: $blue;
		}
	}
	.logout-btn {
		&:hover {
			color: $magenta;
			border-color: $magenta;
		}
	}
}
