.lock-screen {
	background-color: $darker-background;
	border: 6px solid $background-primary;
	border-radius: 100%;

	.lock-inner {
		margin-top: 1em;
		
		.lock-pfp {
			background-image: url("./assets/avatar.png");
			background-size: 100%;
			border-radius: 100%;
	
			margin: 2.4em 6em 0em;
		}
	
		.lock-text {
			margin: 2.5em 1em;
			padding: 1em;
	
			.lock-username {
				color: $foreground-primary;
				font-size: 20px;
			}
	
			.lock-hostname {
				color: $foreground-tertiary;
				font-size: 16px;
				font-style: italic;
				font-family: "VictorMono Nerd Font";
			}
		}
	}
}
