.notification-center-window {
	.notification-center-spacer {
		transition: all 0.8s cubic-bezier(0.455, 0.03, 0.515, 1);
	}

	.notification-center-box {
		border-radius: 10px;
		padding: 1em .75em;

		background-color: $darker-background;

		min-width: 310px;
		font-family: "DM Sans";

		.notification-text {
			margin: 1em 0em .5em;
			font-size: 22px;
			font-weight: bold;
		}
	
		.notification-scroller {
			margin-top: .75em;
			min-height: 494px;
			// background-color: $background-secondary;
			border-radius: 6px;
	
			.notification-history {
				.eon {
					font-size: 18px;
					font-weight: bold;
				}

				.notification {
					margin: .25em 1em .75em;
					box-shadow: none;

					background-color: $background-secondary;
				}
			}
		}
	}

	.quick-utilities {
		// background-color: $background-primary;
		border-radius: 5px;
		// margin-top: 2em;
	}
}
